alembic==1.4.2
click==7.1.2
dnspython==1.16.0
ecdsa==0.13
email-validator
eventlet
Flask==1.1.2
Flask-Compress==1.5.0
Flask-Login==0.5.0
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
future
gevent
gunicorn
gevent-websocket
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe==0.23
pycparser
pycryptodome
python-dateutil
python-editor
python-engineio
python-socketio
retrying
six
SQLAlchemy
Werkzeug
wincertstore
WTForms
zope.event
zope.interface
