{% extends 'template.html' %}

{% block body %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/forumpage.css')}}">
  <div class="container" style="overflow:scroll;height:600px;">
<br>
  {% for post in posts %}
  {% if post.Author.id==current_user.id %}
    <div class="user">
      <span><strong><u>{{post.Author.username}}/{{post.time}} </u></strong></span>
      <a href="{{url_for('delete_post',post_id=post.id,thread_id=post.BelongsTo.id)}}">Delete</a>
      <p>{{post.message}}</p>
    </div>
    {% else %}
    <div class="notuser">
      <span><strong><u>{{post.Author.username}}/{{post.time}}</u></strong></span>

      <p>{{post.message}}</p>
    </div>
    {% endif %}
    {% endfor %}


  </div>

  <div class="container">
    <form class="form-inline" method="POST">
  <div class="form-group mx-sm-3 mb-2">
    <label for="message" class="sr-only">Enter Message</label>
    <input type="text" name='message' class="form-control" id="message" placeholder="Enter Message">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Send</button>
</form>
  </div>

  <script type="text/javascript">
    $('.container').scrollTop($('.container')[0].scrollHeight);
  </script>

{%endblock%}
