
.carousel-item{

    align-self: center;
    align-content: center;
  }
form p {
    list-style:none;

  }
  .carousel-inner{

  max-height: 400px;
}
.carousel-item img{
    max-height: 400px;
  
    margin: auto;
  }
.bd-example
{
    margin-left: auto;
}
.bd-example{
    display: block;
    height: 176px;
    width: 1292px;
    margin:auto;
}
#Search{

padding-right: 10px;
}
body{
  padding-top: 0px;
  z-index: 0;
  height: 100%;
}
.navbar-dark {
  background-color:bisque ;
}
footer{
  background-color:whitesmoke;
  z-index:1;
  border-top-style:double;
  border-color: black;
  padding-top: 1px;
  margin-top: 10px;

}
.footer-copyright {
  text-emphasis-color: black;
  text-decoration-color: black;
}

.footbut {
  background-color: black;
  border-color: white;
  color: white;
  font-size: 20px;
}

footer p{
  margin-top: 0px;
  margin-bottom: 0px;

}
.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}
