.carousel-item{
    height: 100%;
    width: 100%;
    align-self: center;
    margin-left: auto;
  } 
  .carousel-item img{
    height: 100%;
    width: 100%;
    margin: auto;
  }
.bd-example
{
    margin-left: auto;
}
  