{% extends 'template.html' %}

{% block body %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
<br>
 <div>
        <div class="et_pb_code_inner"><h1 style="text-align: center; margin-bottom: 20px; font-weight: 600; font-size: 32px; color: #4d4d4d;">
  Courses
</h1>

<div id="courses-switcher-container">
  <a href="#" class="csw-active">
    Machine Learning
  </a>
  <a href="#">
    App Development
  </a>
  <a href="#">
    Web DEvelopment
  </a>
  <a href="#">
    Space
  </a>
</div>

<style>
  #courses-switcher-container {
    background: white;
    min-height: 60px;
    min-width: 400px;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #courses-switcher-container a {
    color: #1e5faf;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    margin: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (max-width: 980px) {
    #courses-switcher-container a {
      font-size: 13px;
    }
  }
  #courses-switcher-container a.csw-active,
  #courses-switcher-container a:hover {
    background: linear-gradient(90deg, #1c58a3 -12%, #236dc9 108%);
    color: white;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
  }
</style>

<script>
  jQuery(document).on("ready", function() {
    jQuery("#tech-courses-section").hide();
    jQuery("#design-courses-section").hide();
    jQuery("#management-courses-section").hide();
    jQuery("#courses-switcher-container a").on("click", function(e) {
      e.preventDefault();
      jQuery("a.csw-active").removeClass("csw-active");
      jQuery(this).addClass("csw-active");
      let text = jQuery(this)
        .text()
        .trim();
      if (text === "All") {
        jQuery("#tech-courses-section").hide();
        jQuery("#design-courses-section").hide();
        jQuery("#management-courses-section").hide();
        jQuery("#all-courses-section").show();
      } else if (text === "Technology") {
        jQuery("#tech-courses-section").show();
        jQuery("#design-courses-section").hide();
        jQuery("#management-courses-section").hide();
        jQuery("#all-courses-section").hide();
      } else if (text === "Humanities") {
        jQuery("#tech-courses-section").hide();
        jQuery("#design-courses-section").show();
        jQuery("#management-courses-section").hide();
        jQuery("#all-courses-section").hide();
      } else if (text === "Management") {
        jQuery("#tech-courses-section").hide();
        jQuery("#design-courses-section").hide();
        jQuery("#management-courses-section").show();
        jQuery("#all-courses-section").hide();
      }
    });
  });
</script>
</div>
<br>

      <!-- cards-->

      <div class="card-deck" id="all-courses-section">
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<br>

<div class="card-deck" id="tech-courses-section">
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C12</h5>
      <a href="#" class="stretched-link"></a>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
 </div>

        <!--Carousel-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../static/images/home/img(11).jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../static/images/home/img(11).jpg" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../static/images/home/img(11).jpg" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>









{% endblock %}










    </body>
</html>
