{% extends 'template.html' %}



{%block body%}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/forumpage.css')}}"> -->
<!--<div style="background-image: url('../static/images/home/hero_1.jpg');">-->
<style type="text/css"></style>
<div data-aos="fade-up" data-aos-delay="100" style="width: 100%; height:100vh; background-image: url('../static/images/home/img1.jpg'); background-position:center;background-size: contain; position: relative;">
  <div class="container" /*style="width: 100%; height:100vh; background-image: url('../static/images/home/hero_1.jpg'); background-position:center;background-size: cover; position: relative;"*//>
    <br>
    {% if threads %}
    {% for thread in threads %}
    <div class="card " data-aos="flip-up" data-aos-delay="100">
    <h5 class="card-header">{{thread.subject}} Community</h5>
    <div class="card-body">

      <p class="card-text">{{thread.description}}</p>
      <p class="card-text">Created by {{thread.creator.user_role}} {{thread.creator.username}}</p>
      <a href="{{url_for('forum_',thread_id=thread.id)}}" class="btn btn-primary btn-pill">Check Out Forum</a>
    </div>
  </div>
  <br>
  {% endfor %}
  {% else %}
  <h1>Oos Some Error Occured</h1>
  {% endif %}
   <a href="{{url_for('contactus')}}" class="btn btn-primary btn-pill " >Request a new forum</a>
  
</div>
</div>
  
  
 
  


{%endblock%}
