{% extends 'template.html' %}

{% block body %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/forumpage.css')}}">
  <div class="container">
<br>
  {% for post in posts %}
  {% if post.Author.id==current_user.id %}
    <div class="user">
      <span><strong><u>{{post.Author.username}}/{{post.time}}</u></strong></span>
      <p>{{post.message}}</p>
    </div>
    {% else %}
    <div class="notuser">
      <span><strong><u>{{post.Author.username}}/{{post.time}}</u></strong></span>
      <p>{{post.message}}</p>
    </div>
    {% endif %}
    {% endfor %}

    <form class="form-inline" method="POST">
  <div class="form-group mx-sm-3 mb-2">
    <label for="message" class="sr-only">Enter Message</label>
    <input type="text" name='message' class="form-control" id="message" placeholder="Enter Message">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Send</button>
</form>
  </div>
{%endblock%}
