<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js" integrity="sha512-4WpSQe8XU6Djt8IPJMGD9Xx9KuYsVCEeitZfMhPi8xdYlVA5hzRitm0Nt1g2AZFS136s29Nq4E4NVvouVAVrBw==" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      </head>
    <body style="margin-top: 60px;">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('index')}}">
    <img src="../static/images/celislogo.png" width="70" height="30" class="d-inline-block align-top" alt="" loading="lazy">

    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item ">
              <a class="nav-link" href="{{url_for('index')}}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('course')}}">Courses</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">SignIn/SignUp</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">SignOut</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hey, {{current_user.username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{url_for('profile')}}">Profile</a>
        <a class="dropdown-item" href="#">Discussion Forums</a>
        <a class="dropdown-item" href="#">Settings</a>
      </div>

    </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('forum')}}">Forum</a>
            </li>
          </ul>
          <form class="form-inline ml-auto">
        <div class="md-form my-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button href="#!" class="btn btn-info btn-pill btn-md my-0 ml-sm-2" type="submit">Search</button>
      </form>

        </div>
      </nav>
      {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {%for category,message in messages%}
        <div class="container">
          <div class="alert alert-{{category}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close" name="button"><span aria-hidden="true">&times;</span></button>
            {{message}}
          </div>
        </div>

        {%endfor%}
      {%endif%}
      {%endwith%}



 {% block body %}



 {% endblock %}

              <!-- Footer -->
              <!-- Footer -->
              <footer class="page-footer font-small black pt-4 bottom">
                  <div class="wrapper">
                    <!-- Footer Links -->
                    <div class="container-fluid text-center text-md-left">

                      <!-- Grid row -->
                      <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">

                          <!-- Content -->
                          <h5 class="text-uppercase">Interested In Working With Us?</h5>
                          <button type="" class="footbut" name="button">Let's Talk</button>
                          <p></p>
                          <p>About Us</p>
                          <p>Contact Us</p>
                          <p>Help and Support</p>


                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none ">

                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">

                          <!-- Links -->
                          <h5 class="text-uppercase"></h5>

                          <ul class="list-unstyled">
                            <br>
                            <br>
                            <br>
                            <br>
                            <li>
                              <a href="#!">Careers</a>
                            </li>
                            <li>
                              <a href="#!">Blogs</a>
                            </li>
                            <li>
                              <a href="#!">Privacy and Cookie Policy</a>
                            </li>
                          </ul>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">

                          <!-- Links -->
                          <h5 class="text-uppercase"></h5>

                          <ul class="list-unstyled">
                            <br>
                            <br>
                            <br>
                            <br>
                            <li>
                              <a href="#!">Terms</a>
                            </li>
                            <li>
                              <a href="#!">Featured Courses</a>
                            </li>
                            <li>
                              <a href="#!">Sitemap</a>
                            </li>
                            <li>
                              <a href="#!"></a>
                            </li>
                          </ul>

                        </div>
                        <div class="col-md-3 mx-auto">

                          <!-- Links -->
                          <h5 class="text-uppercase"></h5>

                          <ul class="list-unstyled">
                            <br>
                            <br>
                            <br>
                            <br>
                            <li>
                              <a href="#!">LinkedIn</a>
                            </li>
                            <li>
                              <a href="#!">Github</a>
                            </li>
                            <li>
                              <a href="#!">Instagram</a>
                            </li>
                            <li>
                              <a href="#!"></a>
                            </li>
                          </ul>

                        </div>
                        <!-- Grid column -->

                      </div>
                      <!-- Grid row -->

                    </div>
                    <!-- Footer Links -->

                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                      <a href="https://mdbootstrap.com/"> CELIS </a>
                    </div>
                    <!-- Copyright -->

                  </div>


              </footer>
              <!-- Footer -->









          </body>
      </html>
